<h1> WELCOME TO KILLER. <h2>

<br>
<h3>Your first name was: <%= @User.fname %></h3>
<h3>Your last name was: <%= @User.lname %></h3>
<h3>You are alive: <%= @User.alive %></h3>

<h2> Here are all the users: </h2>

<ul>
	 <li>
<%= User.last %>
  </li>
</ul>